# ============================================================
# DATA
# ============================================================

data/
notebooks/


# ============================================================
# LOCAL PYTHON ENVIRONMENT
# ============================================================

.venv/
venv/
env/


# ============================================================
# PYTHON CACHE
# ============================================================

__pycache__/
*.py[cod]


# ============================================================
# GIT
# ============================================================

.git/
.github/


# ============================================================
# MLflow LOCAL TRACKING
# ============================================================

mlruns/


# ============================================================
# IDE / OS
# ============================================================

.vscode/
.idea/
.DS_Store
Thumbs.db


# ============================================================
# TEST / CACHE FILES
# ============================================================

.pytest_cache/
.mypy_cache/