# ============================================================
# PYTHON VIRTUAL ENVIRONMENTS
# ============================================================

.venv/
venv/
env/


# ============================================================
# PYTHON CACHE
# ============================================================

__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/


# ============================================================
# IDE
# ============================================================

.vscode/
.idea/


# ============================================================
# JUPYTER
# ============================================================

.ipynb_checkpoints/


# ============================================================
# DATA
# ============================================================

data/
*.csv


# ============================================================
# MLFLOW LOCAL TRACKING
# ============================================================

mlruns/


# ============================================================
# LOCAL ARTIFACTS
# ============================================================

artifacts/


# ============================================================
# KEEP DEPLOYMENT MODEL
# ============================================================

!src/serving/model/
!src/serving/model/**


# ============================================================
# GRADIO LOCAL FILES
# ============================================================

.gradio/


# ============================================================
# OPERATING SYSTEM FILES
# ============================================================

.DS_Store
Thumbs.db


# ============================================================
# LOG FILES
# ============================================================

*.log